{% from "macros.html" import render_user_link %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dusty Boards</title>
      <link href="/static/css/bootstrap.css" rel="stylesheet">
      <link href="/static/css/honey.css" rel="stylesheet"/>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="/static/js/ga.js" type="text/javascript"></script>
      <!-- protect my email address -->
      <script type="text/javascript">
        contactEmail = "gmail.com";
        contactEmail = "tomas.koze" + "lek" + "@" + contactEmail;
        $(document).ready(function() {
          $("#contact_email").attr("href", "mailto:" + contactEmail);
        });
      </script>
    {% endblock %}
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div> <a class="brand" href="/">{{request.game_type|game_type_to_label()}} @ Dusty Boards</a> </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if menu_toggle_games %} class="active" {% endif %}><a href="{{url_for('view_games')}}">Games</a></li>
              <li {% if menu_toggle_upload %} class="active" {% endif %}><a href="{{url_for ('upload_game')}}">Upload</a></li>
              <li {% if menu_toggle_faq %} class="active" {% endif %}><a href="{{url_for ('faq')}}">FAQ</a></li>
            </ul>
            <ul class="nav pull-right">
              {% if session["username"] %}
              <li>{{ render_user_link(session["username"]) }}</li>
              <li><a href="/logout"> Logout </a></li>
              {% else %}
              <li {% if menu_toggle_login %} class="active" {% endif %}><a href="/login"> Login </a></li>
              <li {% if menu_toggle_signup %} class="active" {% endif %}><a href="/signup"> Signup </a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <! -- used for game viewing -->
      {% block raw_content %} {% endblock %}
      <! -- used for table views: games list, user profile -->
      <div class="row" style="margin-top: 20px;">
        <div class="span8 offset2">
          {% block thin_content %} {% endblock %}
        </div>
      </div>
      <! -- used for small forms: login, signup, game upload -->
      <div style="width: 300px; margin: auto; margin-top: 50px;">
        {% block centered_content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
