
{# Hides game specific ugliness (i.e. different games have different game fields). #}

{% from "macros.html" import render_field %}

{% macro render_game_edit_form_fields(game, form) %}
  {% if game.type == "hex" %}
    {{ render_field(form.red, value=game.player1.name) }}
    {{ render_field(form.blue, value=game.player2.name) }}
  {% elif game.type == "go" %}
    {{ render_field(form.black, value=game.player1.name, class_="typeahead_player") }}
    {{ render_field(form.black_rank, value=game.player1.rank) }}
    {{ render_field(form.white, value=game.player2.name, class_="typeahead_player") }}
    {{ render_field(form.white_rank, value=game.player2.rank) }}
    {{ render_field(form.komi, value=game.komi) }}
    {{ render_field(form.handicap, value=game.handicap) }}
  {% endif %}
    {{ render_field(form.event, value=game.event) }}
    {{ render_field(form.result, value=game.result) }}
{% endmacro %}

