
{% from "macros.html" import render_user_link %}
{% from "macros.html" import render_date_time %}

<div id='game_info'>
  <h4>Game details
  <a href="{{ url_for('view_sgf', game_id=game._id) }}" style="font-weight: normal;">sgf</a>
 </h4>
  <dl class="dl-horizontal">
    {% if game.type == "hex" %}
      <dt>red:</dt>
      <dd class="red">{{ game.player1 }}</dd>
      <dt>blue:</dt>
      <dd class="blue">{{ game.player2 }}</dd>
    {% elif game.type == "go" %}
      <dt>black:</dt>
      <dd >{{ game.player1 }}</dd>
      <dt>white:</dt>
      <dd >{{ game.player2 }}</dd>
      {% if game.komi %}
        <dt>komi:</dt>
        <dd >{{ game.komi }}</dd>
      {% endif %}
      {% if game.handicap %}
        <dt>handicap:</dt>
        <dd >{{ game.handicap }}</dd>
      {% endif %}
    {% endif %}
    <dt>result:</dt>
    <dd>{{ game.result }}</dd>
    {% if game.event %}
      <dt>event:</dt>
      <dd>{{ game.event }}</dd>
    {% endif %}
    <dt>uploaded by:</dt>
    <dd>{{ render_user_link(game.user.username) }} on {{ render_date_time(game.date) }}</dd>
    <dt>comments:</dt>
    <dd>
    <span id="comments_stats">
    </span>
  </dl>
</div>
