
{% extends "base.html" %}
{% from "macros.html" import render_games %}
{% from "macros.html" import render_comments %}
{% from "macros.html" import render_date_time %}

{% block thin_content %}

<h2> User {{ user.username }} </h2>

<p>
Joined on {{ render_date_time(user.joined_date) }}
</p>

<h3> Uploaded Games </h3>
{% if games %}
  {{ render_games(games, games_pagination) }}
{% else %}
No games yet.
{% endif %}

<h3> Comments </h3>
{% if comments %}
  {{ render_comments(comments, comments_pagination) }}
{% else %}
No comments yet.
{% endif %}

{% endblock %}
