{% extends "base.html" %}
{% from "macros.html" import render_comment_in_game %}
{% from "macros.html" import render_date_time %}
{% from "macros.html" import render_field %}
{% from "macros.html" import render_user_link %}
{% from "macros.html" import form_has_errors %}
{% from "game_specific.html" import render_game_edit_form_fields %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
    // variables init
    gameEditFormHasErrors = false;
    {% if game_edit_form and game_edit_form|form_has_errors() %}
      gameEditFormHasErrors = true;
    {% endif %}
    nodes = {{game.nodes|tojson|safe}}
    commentPaths = {{comment_paths|tojson|safe}}
    initPath = {{init_path|tojson|safe}}
    gameId = "{{game._id}}"
    postUpdateURL = "{{url_for('post_update', game_id=game._id)}}"
    postCommentURL = "{{url_for('post_comment', game_id=game._id)}}"
    deleteCommentURL = "{{url_for('delete_comment')}}"
    typeaheadPlayers = {{typeahead_players|tojson|safe}}
  </script>
  <script src="/static/js/jquery.timers.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap-button.js" type="text/javascript"></script>
  {% if game_edit_form %}
    <script src="/static/js/bootstrap-typeahead.js" type="text/javascript"></script>
  {% endif %}
  <!-- select engine based on the game type -->
  {% if game.type == "go" %}
  <script src="/static/js/go.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  {% elif game.type == "hex" %}
    <script src="/static/js/hex.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  {% else %}
    <!-- TODO This should not happen. -->
  {% endif %}
  <script src="/static/js/honey.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  <script src="/static/js/ui.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  <script src="/static/js/ga.js" type="text/javascript"></script>
{% endblock %}

{% block raw_content %}
<div class="row" style="margin-top: 20px;">
  <div class="span6">
    <div id='boardContainer' style="position: relative;">
      <div id='board'></div>
    </div>
  </div>
  <div class="span6">
    {% include "game_info.html" %}
    <span id="mode_info" class="badge badge-info">mode play</span>
    <p>
    <div class="btn-toolbar">
      <a id="focus_toggle" href="" data-toggle="button" class="btn"
        title="Navigating the board with keyboard (arrows, 1-9, ...) requires this button to be toggled (focus is on).">
        <i class="icon-eye-open"></i>
        focus
      </a>
      {% if game_edit_form %}
      <a id="edit_game_toggle" href="" data-toggle="button" class="btn">
        <i class="icon-cog"></i>
        edit game
      </a>
      {% endif %}
      {% if session.username %}
      <a id="post_comment_toggle" data-toggle="button" class="btn">
        <i class="icon-comment"></i>
        comment
      </a>
      {% endif %}
      <a id="commit_btn" href="" data-loading-text="committing..." class="btn" style="display:none"
        title="Commit changes you made to the server.">
        <i class="icon-refresh"></i>
        commit
      </a>
    </div>
    </p>
    {% if game_edit_form %}
    <!-- -70px for margin-left is a small hack to position the form nicely below the buttons -->
    <div id="edit_game" style="margin-left: -70px; margin-top: 30px; display: none;">
        <form method="post" class="form-horizontal" action="{{ url_for('edit_game', game_id=game._id) }}">
          {{ render_game_edit_form_fields(game, game_edit_form) }}
          <div class="form-actions" style="border: 0px; background-color: white;">
            <input type=submit value=Post>
          </div>
       </form>
    </div>
    {% endif %}
    {% if session.username %}
    <div id="post_comment" style="display: none;">
        <form method="post" action="{{ url_for('post_comment', game_id=game._id) }}">
          <p><input type=submit value=Post></p>
          {{ comment_form.short_path_json(value=null) }}
          {{ render_field(comment_form.comment, rows=3, cols=90) }}
       </form>
    </div>
    {% endif %}
    <div id="comments">
      {% for comment in comments %}
        {{ render_comment_in_game(comment, session.username == comment.user.username) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

