build
dist
*egg-info
deploy.tgz
honey/static/css/bootstrap.css
honey/static/js/honey.js
honey/static/js/bridge.js
honey/static/js/ui.js
honey/static/js/hex.js
honey/static/js/go.js
honey/static/js/bootstrap*
honey/static/img/glyphicons*
env
*pyc
TODO.txt
*.DS_STORE
honey.log
