
#board {
  width: 550px;
  position: relative;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

/*Twitter bootstrap extensions*/

.pointer-on-hover:hover {
  cursor: pointer;
}

#post_comment textarea {
  width: auto;
}

.dl-horizontal dt {
  float: left;
  width: auto;
}
