
#honey_title {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  position: relative;
  float:left;
}

#honey_image {
  padding-top: 10px;
}

#board {
  background-color: #FFFFFF;
  border: none;
  width: 53%;
  position: relative;
  float: left;
}

#right_panel {
  float: right;
  width: 44%;
}

#branches {
  border: 1px solid;
  min-height: 50px;
  margin-top:10px;
  margin-right:10px;
  padding: 5px;
}

#footbar {
  margin-top: 5px;
}

#game_info {
  margin-right: 10px;
}

#game_info a {
  text-decoration: none;
}

.branch {
  margin-bottom: 10px;
  line-height: 25px;
}

.node_link {
  margin-right: 5px;
  text-decoration: none;
}

.node_link.active {
  background-color: #DDDDDD;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

img.move {
}

img.move:hover {
 cursor: pointer;  
}
