
{% extends "base.html" %}

{% block thin_content %}
  <h2> FAQ </h2>
  <h3> What is the goal of all this ? </h3>
  <p> This site allows you to store and share your Go games.</p>

  <h3> Why would I want to do that ? </h3>
  <p> Learning from ones own mistakes is one of the best ways to get better in the game. This site lets you revisit your past games so you can see
  what went wrong and learn from that. But more importantly other users can add variations and comments to your games and show you where you made
  mistakes.</p>

  <h3> So I can comment on other people's games too ? </h3>
  Yes. That is the point. If you have something relevant to say about the move/sequence please do so.

  <h3> What do you mean relevant ? </h3>
  For example:
  <ul>
    <li> If you see a better sequence than in the game you can create a variation for it and comment on why this is better.
    <li> You can propose alternative variations to sequences in the game.
    <li> If you don't understand a certain move (and you spent some time trying to figure it out) you can ask about its meaning.
  </ul>
  In general anything that is beneficial to someone to increase his game skills is ok.

  <h3> Hmmm and what stops me from posting a lot of rubbish then ? </h3>
  At the moment nothing. Please be reasonable and don't do that.

  <h3> How do I navigate in the game ? </h3>
  Application strives to make navigation around the game straightforward and painless.
  <dl>
    <dt>click on empty field</dt><dd>plays a move</dd>
    <dt>left/right</dt> <dd>go to next/previous move in the active branch</dd>
    <dt>1-9</dt><dd>follow a variation</dd>
    <dt>up/down</dt><dd>go to next/previous "junction" (node that has more than one children or begin/end) in the game record</dd>
  </dl>

  <h3> How do I add a new variation ? </h3>
  You can simply click on the board and create new variation by playing the adequate moves.
  The variation will be saved only if you post a comment at the end of it (you need to be logged in to post comments).
  As a consequence if you add two different variations and then post a comment at the end of one of them only this one will be saved.
  Therefore always immediately end your variations with a comment.

  <h3> Is your question not here ? </h3>
  <h3> Did you find a bug ?</h3>
  <h3> Do you have an idea for improvement ?</h3>
  <p>
  Then please contact me via <a id="contact_email" href="#">email</a>.
  <p>
{% endblock %}

