
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>
      Honey Hex Viewer
    </title>
    <link href="/static/css/honey.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      _inputSgf = "{{input_sgf}}";
    </script>
    <script src="/static/js/hsgf.js" type="text/javascript"></script>
    <script src="/static/js/honey.js" type="text/javascript"></script>
  </head>
  <body>
    <div id='board'>
      <img alt='' class='boardimage' 
      galleryimg='no' id='boardimage' src='/static/img/board.gif' usemap="#empty_fields" border="0"/>
      <map id="empty_fields" name="empty_fields">
      </map>
    </div>
    <div id="branches"> </div>
    <!--<div id="sidebar">-->
      <!--<table>-->
        <!--<tr> <td>-->
        <!--</tr> </td>-->
      <!--</table>-->
    <!--</div>-->
  </body>
</html>
