
{% extends "base.html" %}

{% block content %}
  <div>
    <table class="table table-bordered">
        <thead>
            <td><strong>game id</strong></td>
            <td><strong>date</strong></td>
            <td><strong>player1</strong></td>
            <td><strong>player2</strong></td>
            <td><strong>uploaded by</strong></td>
        </thead>
      {% for game in games %}
        <tr>
            <td><a href='{{ url_for("view_game", game_id=game._id) }}'>{{ game._id }}</a></td>
            <td>{{ game.date.strftime("%Y-%m-%d") }}</td>
            <td>{{ game.player1 }}</td>
            <td>{{ game.player2 }}</td>
            <td>{{ game.user.username }}</td>
        </tr>
      {% endfor %}
    </table>
    {% from "macros.html" import render_pagination %}
    {{ render_pagination(pagination) }}
  </div>
{% endblock %}

