
{% macro render_field(field) %}
  {% if "label" not in kwargs or kwargs.label %}
  <div>
    {% if "label" in kwargs %}
      {{ kwargs.label }}
    {% else %}
      {{ field.label }}
    {% endif %}
  </div>
  {% endif %}
  <div>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}<li>{{ error }}{% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_pagination(pagination) %}
  <div class="pagination pagination-centered">
    <ul>
    {% if pagination.has_previous() %}
      <li>
      <a href="{{ pagination.url_for(pagination.page - 1)}}">Previous</a>
      </li>
    {% endif %}
    {%- for page in pagination %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ pagination.url_for(page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><a href="#">{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li><a href="#">...</a></li>
      {% endif %}
    {%- endfor %}
    {% if pagination.has_next() %}
      <li>
      <a href="{{ pagination.url_for(pagination.page + 1)}}">Next</a>
      </li>
    {% endif %}
    </ul>
  </div>
{% endmacro %}

{% macro render_user_link(user) %}
  <a href="#">{{ user.username }}</a>
{% endmacro %}

{% macro render_game_date(date) %}
  {{ date.strftime("%Y-%m-%d %H:%M:%S") }}
{% endmacro %}
