
{% macro render_field(field) %}
  {% if "label" not in kwargs or kwargs.label %}
  <div>
    {% if "label" in kwargs %}
      {{ kwargs.label }}
    {% else %}
      {{ field.label }}
    {% endif %}
  </div>
  {% endif %}
  <div>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}<li>{{ error }}{% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_pagination(pagination) %}
  <div class="pagination pagination-centered">
    <ul>
    {% if pagination.has_previous() %}
      <li>
      <a href="{{ pagination.url_for(pagination.page - 1)}}">Previous</a>
      </li>
    {% endif %}
    {%- for page in pagination %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ pagination.url_for(page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><a href="#">{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li><a href="#">...</a></li>
      {% endif %}
    {%- endfor %}
    {% if pagination.has_next() %}
      <li>
      <a href="{{ pagination.url_for(pagination.page + 1)}}">Next</a>
      </li>
    {% endif %}
    </ul>
  </div>
{% endmacro %}

{% macro render_user_link(user) %}
  <a href='{{ url_for("view_user", username=user.username) }}'>{{ user.username }}</a>
{% endmacro %}

{% macro render_date_time(date) %}
  {{ date.strftime("%Y-%m-%d %H:%M:%S") }}
{% endmacro %}

{% macro render_games(games, pagination) %}
  <div>
    <table id="games" class="table pointer-on-hover">
        <thead>
            <td><strong>date</strong></td>
            <td><strong>player1</strong></td>
            <td><strong>player2</strong></td>
            <td><strong>result</strong></td>
            <td><strong>uploaded by</strong></td>
        </thead>
      {% for game in games %}
        <tr>
            <td style="display:none;"> <a href='{{ url_for("view_game", game_id=game._id) }}' style="display:none;"></a> </td>
            <td>{{ render_date_time(game.date) }}</td>
            <td>{{ game.player1 }}</td>
            <td>{{ game.player2 }}</td>
            <td>{{ game.result }}</td>
            <td>{{ render_user_link(game.user) }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ render_pagination(pagination) }}
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#games tr').click(function() {
          var href = $(this).find("a").attr("href");
          if(href) {
              window.location = href;
          }
      });
  });
  </script>
{% endmacro %}

{% macro render_comments(comments, pagination) %}
  <div>
    <table id="comments" class="table pointer-on-hover">
        <thead>
            <td><strong>date</strong></td>
            <td><strong>author</strong></td>
            <td><strong>text</strong></td>
        </thead>
      {% for comment in comments %}
        <tr>
            <td style="display:none;"> <a href='{{ url_for("view_comment", comment_id=comment._id) }}' style="display:none;"></a> </td>
            <td>{{ render_date_time(comment.date) }}</td>
            <td>{{ comment.user.username }}</td>
            <!-- TODO -->
            <td>{{ comment.text }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ render_pagination(pagination) }}
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#comments tr').click(function() {
          var href = $(this).find("a").attr("href");
          if(href) {
              window.location = href;
          }
      });
  });
  </script>
{% endmacro %}
