{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% from "macros.html" import render_date_time %}
{% from "macros.html" import render_user_link %}

{% block head %}
  {{ super() }}
  <script src="/static/js/jquery.timers.js" type="text/javascript"></script>
  <!-- select engine based on the game type -->
  {% if game.nodes[0].SZ|int is sameas 19 %}
  <script src="/static/js/go.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  {% else %}
    <script src="/static/js/hex.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  {% endif %}
  <script src="/static/js/honey.js?now={{ "%H%M%S"|now }}" type="text/javascript"></script>
  <script src="/static/js/ga.js" type="text/javascript"></script>
  <script type="text/javascript">
    _bridge = new Bridge('{{game.nodes|tojson|safe}}', '{{comment_paths|tojson|safe}}', '{{init_path|tojson|safe}}');
    // Post click handler
    $(function() {
      $("#post_comment form input[value='Post']").click(function(e) {
        $("#post_comment form input[name='short_path_json']").attr("value", JSON.stringify(_bridge.getCurrNodeShortPath()));
        $("#post_comment form input[name='full_path_json']").attr("value", JSON.stringify(_bridge.getCurrNodeFullPath()));
      });
    });
  </script>
{% endblock %}

{% block raw_content %}
<div class="row" style="margin-top: 20px;">
  <div class="span6">
    <div id='board'></div>
  </div>

  <div class="span6">
    {% include "game_info.html" %}
    <h4 style="margin-bottom: 10px;">Comments</h4>
    {% if session.user %}
    <div id="post_comment">
        <form method="post" action="{{ url_for('post_comment') }}">
          {{ form.game_id(value=game._id) }}
          {{ form.short_path_json(value=null) }}
          {{ form.full_path_json(value=null) }}
          {{ render_field(form.comment, label=False, rows=3, cols=90) }}
          <p><input type=submit value=Post></p>
       </form>
    </div>
    {% endif %}
    <div id="comments">
      {% if not comments %}
      <p> No comments yet. </p>
      {% endif %}
      {% for comment in comments %}
      <p>
        <div class="comment" id="comment_{{comment._id}}">
          <div> <strong>Posted by {{ render_user_link(comment.user) }} on {{ comment.date.strftime("%Y-%m-%d %H:%M:%S")}}:</strong></div>
          {{ comment.text }}
        </div>
      </p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

